@using Beca.Thales.Models.Entities
@model Actividad


<header class="container">
<h3 class="my-5">
    @Model.Name
</h3>


<div class="row gx-5">
        <img alt="@Model.Name" src="@Model.ImageUrl" class="img-fluid col-5" />
    
      <div class="col-7">
           <h5>@Model.Description</h5>
              
     </div>

 
     <div class="col-7">
               <h7 class="pull-right">@Model.Price.ToString("c")</h7>
    </div>

    <div class="col-7">
            <h7 class="pull-right">@Model.EdadRecomendada</h7>
    </div>

    <div class="col-7">
            <button id="buyButton" class="btn btn-success">Reservar</button>
    </div>
   
   
</div>
</header>
